.nav {
  display: flex;
    flex-direction: row;
    height: 80px;
    padding-left: 100px;
    align-items: flex-start;
    padding-top: 30px;
  background-color: black;
  &__logo{
    font-weight: 800;
    font-size: 1.5rem;
    a{
      color: white
    }
  }
  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: gray;
    text-align: center;
    margin-left: 120px;
  }
  &__pages
  {
    border-bottom: 6px transparent;
    margin-left: 40px;
    a{
      padding-bottom: 25px;
      color: white;
    }
  }}