@import "./partials/fonts";

@import "./partials/navbar";
@import "./partials/skater";
@import "./partials/mainpage";

*,
body {
  font-family: "Avenir";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  margin: 0;
  overflow-x: hidden;
 
}
a {
  text-emphasis: none;
  text-decoration: none;
}
.pageHeader{
  padding-top: 30px;
  padding-bottom: 30px;
   background-color: #918d91;
}