@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Regular.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Demi.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Heavy.otf") format("opentype");
  font-weight: 1000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  padding-left: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 30px;
  background-color: black;
}

.nav__logo {
  font-weight: 800;
}

.nav__logo a {
  color: white;
}

.nav__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: gray;
  text-align: center;
  margin-left: 60px;
}

.nav__pages {
  border-bottom: 6px transparent;
  margin-left: 40px;
}

.nav__pages a {
  padding-bottom: 25px;
  color: white;
}

.playerpageheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.headshot {
  border-radius: 50%;
  border: 2px solid gray;
  margin: 40px 0px;
}

.infoFirst {
  margin-bottom: 20px;
}

.personalinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-right: 30px;
}

.personaldetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playerpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

th, td {
  width: 50px;
  padding: 10px;
  text-align: center;
}

.mainpagebody {
  background-color: #d9deda;
  height: 100vh;
}

.heromessage {
  margin-bottom: 30px;
}

.cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5%;
  background-color: white;
}

.card a {
  color: black;
  padding-right: 10px;
}

.card__firstrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardheader {
  margin-left: 40px;
  margin-bottom: 40px;
}

.herocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainmessage {
  margin-top: 30px;
  margin-bottom: 30px;
}

*,
body {
  font-family: "Avenir";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

.pageHeader {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #918d91;
}
/*# sourceMappingURL=main.css.map */